.header {
  display: flex;
  flex-direction: column;
  order: 100;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #494949;
  color: #fff;
  & h2 {
    margin: 0;
  }
  & button {
    border-radius: 5px;
    background-color: #747474;;
    color: #fff;
    &:hover {
      background-color: #353535;
    }
  }
  @media (max-width: 1020px) {
    width: 10%;
    button {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  @media (max-width: 700px) {
    width: 10%;
    button {
      font-size: 0.8rem;
    }
    h2 {
      writing-mode: vertical-lr;
      text-orientation: upright;
      font-size: 1.5rem;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 15px 0;
  & button {
    order: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 10px;
    margin: 2px 0px;
    text-decoration: none;
    @media (max-width: 1020px) {
      font-size: 1rem;
    }
    @media (max-width: 700px) {
      flex-direction: column;
    }
    &:hover {
      background-color: #353535;
    }
  }
}

.checkmark {
  display: block;
  width: 20px;
  height: 20px;
  background-color: aqua;
}
