@import './scss/normalaze';
@import url(//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/styles/default.min.css);
@import url(//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/monokai-sublime.min.css);

html {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  user-select: none;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;
}