.main {
  display: flex;
  height: 100%;
  width: 70%;
  flex-direction: column;
  order: 10;
  @media (max-width: 1020px) {
    width: 90%;
  }
}

.about {
  height: 6%;
  background-color: black;
}

.current-task {
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: flex-end;
  font-size: 2rem;
  background-image: url(../../../assets/room.jpg);
  background-size: 100% 100%;
}