.main {
  display: flex;
  height: 100%;
  width: 75%;
  flex-direction: column;
  order: 10;
  @media (max-width: 1080px) {
    width: 80%;
  }
  @media (max-width: 1020px) {
    width: 90%;
  }
}

.header {
  display: flex;
  justify-content: space-around;
  height: 6%;
  background-color: #494949;
  color: #fff;
  & .header__text {
    margin: 0;
    padding: 1%;
  }
}

.current-task {
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: flex-end;
  font-size: 2rem;
  background-image: url(../../../assets/background.png);
  background-size: 100% 100%;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.rs-school {
  height: 50px;
  width: 100px;
  & a {
    display: block;
    background-image: url(../../../assets/ico/rs_school.svg);
    background-size: contain;
    height: 50px;
  }
}

.github {
  height: 45px;
  width: 45px;
  & a {
    display: block;
    background-image: url(../../../assets/ico/github.svg);
    background-size: contain;
    height: 45px;
  }
}