.current-task {
  perspective-origin: 50% 100%;
  & > * {
    width: 190px;
    height: 270px;
    margin-bottom: 110px;
    background-size: contain;
    @media (max-width: 800px) {
      width: 130px;
      height: 255px;
      margin-bottom: 40px;
    }
  }
}

.t-shirt,
.pillow,
.box, 
.paper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.t-shirt {
  background-image: url(../../assets/car1.png);
}

.pillow {
  background-image: url(../../assets/train.gif);
}

.box {
  // background-image: url(../../assets/box.png);
}

.paper {
  // background-image: url(../../assets/paper.jpg);
}

.strobe {
  animation: strobe 1s infinite;
  animation-delay: 0s, .5s;
}

@keyframes strobe {
  0% { transform:
    skew(4deg, 0deg)
    scaleX(0.95)
  }
  10% { transform:
    skew(1deg, 0deg)
  }
  50% { transform:
    skew(-4deg, 0deg)
    scaleX(.95)

  }
  60% { transform:
    skew(-1deg, 0deg)
  }
  100% {transform:
    skew(4deg, 0deg)
    scaleX(.95)
  }
}