.current-task {
  perspective-origin: 50% 100%;
  & > * {
    width: 192px;
    height: 270px;
    margin-bottom: 120px;
    background-size: contain;
    @media (max-width: 800px) {
      width: 130px;
      height: 255px;
      margin-bottom: 40px;
    }
  }
}

.train,
.car_1, 
.car_2,
.car_3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.goofy,
.mas,
.mice {
  height: 100%;
  width: 100%;
  background-size: contain;
}


.train {
  background-image: url(../../assets/train.gif);
}

.car_1 {
  background-image: url(../../assets/car1.png);
  // filter: drop-shadow(0 0 6px #436cf3);
}

.car_2 {
  background-image: url(../../assets/car2.png);
  // filter: drop-shadow(0 0 6px #436cf3);
}

.car_3 {
  background-image: url(../../assets/car3.png);
  // filter: drop-shadow(0 0 6px #436cf3);
}

.goofy {
  background-image: url(../../assets/goofy.png);
}

.mice {
  background-image: url(../../assets/mice.png);
}

.mas {
  background-image: url(../../assets/mas.png);
}

.strobe {
  animation: strobe 1s infinite;
  animation-delay: 0s, .5s;
}

@keyframes strobe {
  0% { transform:
    skew(4deg, 0deg)
    scaleX(0.95)
  }
  10% { transform:
    skew(1deg, 0deg)
  }
  50% { transform:
    skew(-4deg, 0deg)
    scaleX(.95)

  }
  60% { transform:
    skew(-1deg, 0deg)
  }
  100% {transform:
    skew(4deg, 0deg)
    scaleX(.95)
  }
}